Myfashionmarketer/Web References/Api.FbPagePost/FbPagePost.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetPostDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="postid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetPostDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetPostDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPostOfPage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="profileid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllPostOfPageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllPostOfPageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsPostExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jdata" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsPostExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="IsPostExistResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPostDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jdata" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddPostDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddPostDetailsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFbPagePostStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="jdata" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateFbPagePostStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="UpdateFbPagePostStatusResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetPostDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetPostDetails" />
  </wsdl:message>
  <wsdl:message name="GetPostDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetPostDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllPostOfPageSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllPostOfPage" />
  </wsdl:message>
  <wsdl:message name="GetAllPostOfPageSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllPostOfPageResponse" />
  </wsdl:message>
  <wsdl:message name="IsPostExistSoapIn">
    <wsdl:part name="parameters" element="tns:IsPostExist" />
  </wsdl:message>
  <wsdl:message name="IsPostExistSoapOut">
    <wsdl:part name="parameters" element="tns:IsPostExistResponse" />
  </wsdl:message>
  <wsdl:message name="AddPostDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:AddPostDetails" />
  </wsdl:message>
  <wsdl:message name="AddPostDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:AddPostDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateFbPagePostStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateFbPagePostStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateFbPagePostStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateFbPagePostStatusResponse" />
  </wsdl:message>
  <wsdl:portType name="FbPagePostSoap">
    <wsdl:operation name="GetPostDetails">
      <wsdl:input message="tns:GetPostDetailsSoapIn" />
      <wsdl:output message="tns:GetPostDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllPostOfPage">
      <wsdl:input message="tns:GetAllPostOfPageSoapIn" />
      <wsdl:output message="tns:GetAllPostOfPageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsPostExist">
      <wsdl:input message="tns:IsPostExistSoapIn" />
      <wsdl:output message="tns:IsPostExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddPostDetails">
      <wsdl:input message="tns:AddPostDetailsSoapIn" />
      <wsdl:output message="tns:AddPostDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateFbPagePostStatus">
      <wsdl:input message="tns:UpdateFbPagePostStatusSoapIn" />
      <wsdl:output message="tns:UpdateFbPagePostStatusSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FbPagePostSoap" type="tns:FbPagePostSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPostDetails">
      <soap:operation soapAction="http://tempuri.org/GetPostDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPostOfPage">
      <soap:operation soapAction="http://tempuri.org/GetAllPostOfPage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPostExist">
      <soap:operation soapAction="http://tempuri.org/IsPostExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPostDetails">
      <soap:operation soapAction="http://tempuri.org/AddPostDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFbPagePostStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateFbPagePostStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FbPagePostSoap12" type="tns:FbPagePostSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetPostDetails">
      <soap12:operation soapAction="http://tempuri.org/GetPostDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllPostOfPage">
      <soap12:operation soapAction="http://tempuri.org/GetAllPostOfPage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsPostExist">
      <soap12:operation soapAction="http://tempuri.org/IsPostExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddPostDetails">
      <soap12:operation soapAction="http://tempuri.org/AddPostDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateFbPagePostStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateFbPagePostStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FbPagePost">
    <wsdl:port name="FbPagePostSoap" binding="tns:FbPagePostSoap">
      <soap:address location="http://localhost:2022/Services/FbPagePost.asmx" />
    </wsdl:port>
    <wsdl:port name="FbPagePostSoap12" binding="tns:FbPagePostSoap12">
      <soap12:address location="http://localhost:2022/Services/FbPagePost.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>