Myfashionmarketer/Web References/Api.YoutubeChannel/YoutubeChannel.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllYoutubeChannelByUserIdAndProfileId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllYoutubeChannelByUserIdAndProfileIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllYoutubeChannelByUserIdAndProfileIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllYoutubeChannelByUserIdAndProfileIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllYoutubeChannelByUserIdAndProfileId" />
  </wsdl:message>
  <wsdl:message name="GetAllYoutubeChannelByUserIdAndProfileIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllYoutubeChannelByUserIdAndProfileIdResponse" />
  </wsdl:message>
  <wsdl:portType name="YoutubeChannelSoap">
    <wsdl:operation name="GetAllYoutubeChannelByUserIdAndProfileId">
      <wsdl:input message="tns:GetAllYoutubeChannelByUserIdAndProfileIdSoapIn" />
      <wsdl:output message="tns:GetAllYoutubeChannelByUserIdAndProfileIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="YoutubeChannelSoap" type="tns:YoutubeChannelSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllYoutubeChannelByUserIdAndProfileId">
      <soap:operation soapAction="http://tempuri.org/GetAllYoutubeChannelByUserIdAndProfileId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="YoutubeChannelSoap12" type="tns:YoutubeChannelSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllYoutubeChannelByUserIdAndProfileId">
      <soap12:operation soapAction="http://tempuri.org/GetAllYoutubeChannelByUserIdAndProfileId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="YoutubeChannel">
    <wsdl:port name="YoutubeChannelSoap" binding="tns:YoutubeChannelSoap">
      <soap:address location="http://localhost:2022/Services/YoutubeChannel.asmx" />
    </wsdl:port>
    <wsdl:port name="YoutubeChannelSoap12" binding="tns:YoutubeChannelSoap12">
      <soap12:address location="http://localhost:2022/Services/YoutubeChannel.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>