Myfashionmarketer/Web References/Api.TumblrAccount/TumblrAccount.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTumblrAccountDetailsById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTumblrAccountDetailsByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTumblrAccountDetailsByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTumblrAccountsOfUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTumblrAccountsOfUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTumblrAccountsOfUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTumblrAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GroupId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTumblrAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteTumblrAccountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTumblrAccountsByUserIdAndGroupId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTumblrAccountsByUserIdAndGroupIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTumblrAccountsByUserIdAndGroupIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTumblrAccounts">
        <s:complexType />
      </s:element>
      <s:element name="GetAllTumblrAccountsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTumblrAccountsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTumblrAccountDetailsByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetTumblrAccountDetailsById" />
  </wsdl:message>
  <wsdl:message name="GetTumblrAccountDetailsByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetTumblrAccountDetailsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTumblrAccountsOfUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTumblrAccountsOfUser" />
  </wsdl:message>
  <wsdl:message name="GetAllTumblrAccountsOfUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTumblrAccountsOfUserResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteTumblrAccountSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteTumblrAccount" />
  </wsdl:message>
  <wsdl:message name="DeleteTumblrAccountSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteTumblrAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTumblrAccountsByUserIdAndGroupIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTumblrAccountsByUserIdAndGroupId" />
  </wsdl:message>
  <wsdl:message name="GetAllTumblrAccountsByUserIdAndGroupIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTumblrAccountsByUserIdAndGroupIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTumblrAccountsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTumblrAccounts" />
  </wsdl:message>
  <wsdl:message name="GetAllTumblrAccountsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTumblrAccountsResponse" />
  </wsdl:message>
  <wsdl:portType name="TumblrAccountSoap">
    <wsdl:operation name="GetTumblrAccountDetailsById">
      <wsdl:input message="tns:GetTumblrAccountDetailsByIdSoapIn" />
      <wsdl:output message="tns:GetTumblrAccountDetailsByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTumblrAccountsOfUser">
      <wsdl:input message="tns:GetAllTumblrAccountsOfUserSoapIn" />
      <wsdl:output message="tns:GetAllTumblrAccountsOfUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTumblrAccount">
      <wsdl:input message="tns:DeleteTumblrAccountSoapIn" />
      <wsdl:output message="tns:DeleteTumblrAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTumblrAccountsByUserIdAndGroupId">
      <wsdl:input message="tns:GetAllTumblrAccountsByUserIdAndGroupIdSoapIn" />
      <wsdl:output message="tns:GetAllTumblrAccountsByUserIdAndGroupIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTumblrAccounts">
      <wsdl:input message="tns:GetAllTumblrAccountsSoapIn" />
      <wsdl:output message="tns:GetAllTumblrAccountsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TumblrAccountSoap" type="tns:TumblrAccountSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTumblrAccountDetailsById">
      <soap:operation soapAction="http://tempuri.org/GetTumblrAccountDetailsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTumblrAccountsOfUser">
      <soap:operation soapAction="http://tempuri.org/GetAllTumblrAccountsOfUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTumblrAccount">
      <soap:operation soapAction="http://tempuri.org/DeleteTumblrAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTumblrAccountsByUserIdAndGroupId">
      <soap:operation soapAction="http://tempuri.org/GetAllTumblrAccountsByUserIdAndGroupId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTumblrAccounts">
      <soap:operation soapAction="http://tempuri.org/GetAllTumblrAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TumblrAccountSoap12" type="tns:TumblrAccountSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTumblrAccountDetailsById">
      <soap12:operation soapAction="http://tempuri.org/GetTumblrAccountDetailsById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTumblrAccountsOfUser">
      <soap12:operation soapAction="http://tempuri.org/GetAllTumblrAccountsOfUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTumblrAccount">
      <soap12:operation soapAction="http://tempuri.org/DeleteTumblrAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTumblrAccountsByUserIdAndGroupId">
      <soap12:operation soapAction="http://tempuri.org/GetAllTumblrAccountsByUserIdAndGroupId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTumblrAccounts">
      <soap12:operation soapAction="http://tempuri.org/GetAllTumblrAccounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TumblrAccount">
    <wsdl:port name="TumblrAccountSoap" binding="tns:TumblrAccountSoap">
      <soap:address location="http://localhost:2022/Services/TumblrAccount.asmx" />
    </wsdl:port>
    <wsdl:port name="TumblrAccountSoap12" binding="tns:TumblrAccountSoap12">
      <soap12:address location="http://localhost:2022/Services/TumblrAccount.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>