Myfashionmarketer/Web References/Api.YoutubeAccount/YoutubeAccount.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetYoutubeAccountDetailsById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetYoutubeAccountDetailsByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetYoutubeAccountDetailsByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllYoutubeAccountDetailsById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllYoutubeAccountDetailsByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllYoutubeAccountDetailsByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteYoutubeAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GroupId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteYoutubeAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteYoutubeAccountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllYoutubeAccountsByUserIdAndGroupId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllYoutubeAccountsByUserIdAndGroupIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllYoutubeAccountsByUserIdAndGroupIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllYoutubeAccounts">
        <s:complexType />
      </s:element>
      <s:element name="GetAllYoutubeAccountsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllYoutubeAccountsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetYoutubeAccountDetailsByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetYoutubeAccountDetailsById" />
  </wsdl:message>
  <wsdl:message name="GetYoutubeAccountDetailsByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetYoutubeAccountDetailsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllYoutubeAccountDetailsByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllYoutubeAccountDetailsById" />
  </wsdl:message>
  <wsdl:message name="GetAllYoutubeAccountDetailsByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllYoutubeAccountDetailsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteYoutubeAccountSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteYoutubeAccount" />
  </wsdl:message>
  <wsdl:message name="DeleteYoutubeAccountSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteYoutubeAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllYoutubeAccountsByUserIdAndGroupIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllYoutubeAccountsByUserIdAndGroupId" />
  </wsdl:message>
  <wsdl:message name="GetAllYoutubeAccountsByUserIdAndGroupIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllYoutubeAccountsByUserIdAndGroupIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllYoutubeAccountsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllYoutubeAccounts" />
  </wsdl:message>
  <wsdl:message name="GetAllYoutubeAccountsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllYoutubeAccountsResponse" />
  </wsdl:message>
  <wsdl:portType name="YoutubeAccountSoap">
    <wsdl:operation name="GetYoutubeAccountDetailsById">
      <wsdl:input message="tns:GetYoutubeAccountDetailsByIdSoapIn" />
      <wsdl:output message="tns:GetYoutubeAccountDetailsByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllYoutubeAccountDetailsById">
      <wsdl:input message="tns:GetAllYoutubeAccountDetailsByIdSoapIn" />
      <wsdl:output message="tns:GetAllYoutubeAccountDetailsByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteYoutubeAccount">
      <wsdl:input message="tns:DeleteYoutubeAccountSoapIn" />
      <wsdl:output message="tns:DeleteYoutubeAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllYoutubeAccountsByUserIdAndGroupId">
      <wsdl:input message="tns:GetAllYoutubeAccountsByUserIdAndGroupIdSoapIn" />
      <wsdl:output message="tns:GetAllYoutubeAccountsByUserIdAndGroupIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllYoutubeAccounts">
      <wsdl:input message="tns:GetAllYoutubeAccountsSoapIn" />
      <wsdl:output message="tns:GetAllYoutubeAccountsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="YoutubeAccountSoap" type="tns:YoutubeAccountSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetYoutubeAccountDetailsById">
      <soap:operation soapAction="http://tempuri.org/GetYoutubeAccountDetailsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllYoutubeAccountDetailsById">
      <soap:operation soapAction="http://tempuri.org/GetAllYoutubeAccountDetailsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteYoutubeAccount">
      <soap:operation soapAction="http://tempuri.org/DeleteYoutubeAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllYoutubeAccountsByUserIdAndGroupId">
      <soap:operation soapAction="http://tempuri.org/GetAllYoutubeAccountsByUserIdAndGroupId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllYoutubeAccounts">
      <soap:operation soapAction="http://tempuri.org/GetAllYoutubeAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="YoutubeAccountSoap12" type="tns:YoutubeAccountSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetYoutubeAccountDetailsById">
      <soap12:operation soapAction="http://tempuri.org/GetYoutubeAccountDetailsById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllYoutubeAccountDetailsById">
      <soap12:operation soapAction="http://tempuri.org/GetAllYoutubeAccountDetailsById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteYoutubeAccount">
      <soap12:operation soapAction="http://tempuri.org/DeleteYoutubeAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllYoutubeAccountsByUserIdAndGroupId">
      <soap12:operation soapAction="http://tempuri.org/GetAllYoutubeAccountsByUserIdAndGroupId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllYoutubeAccounts">
      <soap12:operation soapAction="http://tempuri.org/GetAllYoutubeAccounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="YoutubeAccount">
    <wsdl:port name="YoutubeAccountSoap" binding="tns:YoutubeAccountSoap">
      <soap:address location="http://localhost:2022/Services/YoutubeAccount.asmx" />
    </wsdl:port>
    <wsdl:port name="YoutubeAccountSoap12" binding="tns:YoutubeAccountSoap12">
      <soap12:address location="http://localhost:2022/Services/YoutubeAccount.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>