WebSiteReviewData/Web References/Api.WebSiteReview/WebSiteReview.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebSiteData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="WebSiteDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="WebSiteDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="websiteinfo">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="websiteinfoResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="websiteinfoResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllWebSite">
        <s:complexType />
      </s:element>
      <s:element name="GetAllWebSiteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllWebSiteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWebSiteData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Url" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateWebSiteDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateWebSiteDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="WebSiteDataSoapIn">
    <wsdl:part name="parameters" element="tns:WebSiteData" />
  </wsdl:message>
  <wsdl:message name="WebSiteDataSoapOut">
    <wsdl:part name="parameters" element="tns:WebSiteDataResponse" />
  </wsdl:message>
  <wsdl:message name="websiteinfoSoapIn">
    <wsdl:part name="parameters" element="tns:websiteinfo" />
  </wsdl:message>
  <wsdl:message name="websiteinfoSoapOut">
    <wsdl:part name="parameters" element="tns:websiteinfoResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllWebSiteSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllWebSite" />
  </wsdl:message>
  <wsdl:message name="GetAllWebSiteSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllWebSiteResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateWebSiteDataSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateWebSiteData" />
  </wsdl:message>
  <wsdl:message name="UpdateWebSiteDataSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateWebSiteDataResponse" />
  </wsdl:message>
  <wsdl:portType name="WebSiteReviewSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="WebSiteData">
      <wsdl:input message="tns:WebSiteDataSoapIn" />
      <wsdl:output message="tns:WebSiteDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="websiteinfo">
      <wsdl:input message="tns:websiteinfoSoapIn" />
      <wsdl:output message="tns:websiteinfoSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllWebSite">
      <wsdl:input message="tns:GetAllWebSiteSoapIn" />
      <wsdl:output message="tns:GetAllWebSiteSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateWebSiteData">
      <wsdl:input message="tns:UpdateWebSiteDataSoapIn" />
      <wsdl:output message="tns:UpdateWebSiteDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebSiteReviewSoap" type="tns:WebSiteReviewSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebSiteData">
      <soap:operation soapAction="http://tempuri.org/WebSiteData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="websiteinfo">
      <soap:operation soapAction="http://tempuri.org/websiteinfo" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllWebSite">
      <soap:operation soapAction="http://tempuri.org/GetAllWebSite" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWebSiteData">
      <soap:operation soapAction="http://tempuri.org/UpdateWebSiteData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebSiteReviewSoap12" type="tns:WebSiteReviewSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="WebSiteData">
      <soap12:operation soapAction="http://tempuri.org/WebSiteData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="websiteinfo">
      <soap12:operation soapAction="http://tempuri.org/websiteinfo" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllWebSite">
      <soap12:operation soapAction="http://tempuri.org/GetAllWebSite" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateWebSiteData">
      <soap12:operation soapAction="http://tempuri.org/UpdateWebSiteData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebSiteReview">
    <wsdl:port name="WebSiteReviewSoap" binding="tns:WebSiteReviewSoap">
      <soap:address location="http://localhost:2022/Services/WebSiteReview.asmx" />
    </wsdl:port>
    <wsdl:port name="WebSiteReviewSoap12" binding="tns:WebSiteReviewSoap12">
      <soap12:address location="http://localhost:2022/Services/WebSiteReview.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>