Myfashionmarketer/Web References/Api.TaskComment/TaskComment.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllTaskCommentByUserIdTaskId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="taskId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTaskCommentByUserIdTaskIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTaskCommentByUserIdTaskIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTaskComment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="taskId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="commentDate" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="entryDate" type="s:dateTime" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTaskCommentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddTaskCommentResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllTaskCommentByUserIdTaskIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTaskCommentByUserIdTaskId" />
  </wsdl:message>
  <wsdl:message name="GetAllTaskCommentByUserIdTaskIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTaskCommentByUserIdTaskIdResponse" />
  </wsdl:message>
  <wsdl:message name="AddTaskCommentSoapIn">
    <wsdl:part name="parameters" element="tns:AddTaskComment" />
  </wsdl:message>
  <wsdl:message name="AddTaskCommentSoapOut">
    <wsdl:part name="parameters" element="tns:AddTaskCommentResponse" />
  </wsdl:message>
  <wsdl:portType name="TaskCommentSoap">
    <wsdl:operation name="GetAllTaskCommentByUserIdTaskId">
      <wsdl:input message="tns:GetAllTaskCommentByUserIdTaskIdSoapIn" />
      <wsdl:output message="tns:GetAllTaskCommentByUserIdTaskIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddTaskComment">
      <wsdl:input message="tns:AddTaskCommentSoapIn" />
      <wsdl:output message="tns:AddTaskCommentSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TaskCommentSoap" type="tns:TaskCommentSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTaskCommentByUserIdTaskId">
      <soap:operation soapAction="http://tempuri.org/GetAllTaskCommentByUserIdTaskId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTaskComment">
      <soap:operation soapAction="http://tempuri.org/AddTaskComment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TaskCommentSoap12" type="tns:TaskCommentSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTaskCommentByUserIdTaskId">
      <soap12:operation soapAction="http://tempuri.org/GetAllTaskCommentByUserIdTaskId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTaskComment">
      <soap12:operation soapAction="http://tempuri.org/AddTaskComment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TaskComment">
    <wsdl:port name="TaskCommentSoap" binding="tns:TaskCommentSoap">
      <soap:address location="http://localhost:2022/Services/TaskComment.asmx" />
    </wsdl:port>
    <wsdl:port name="TaskCommentSoap12" binding="tns:TaskCommentSoap12">
      <soap12:address location="http://localhost:2022/Services/TaskComment.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>