Myfashionmarketer/Web References/Api.GooglePlus/GooglePlus.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddGPlusAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="client_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="client_secret" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="redirect_uri" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GroupId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddGPlusAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddGPlusAccountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGPusData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGPusDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetGPusDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddGPlusAccountSoapIn">
    <wsdl:part name="parameters" element="tns:AddGPlusAccount" />
  </wsdl:message>
  <wsdl:message name="AddGPlusAccountSoapOut">
    <wsdl:part name="parameters" element="tns:AddGPlusAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetGPusDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetGPusData" />
  </wsdl:message>
  <wsdl:message name="GetGPusDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetGPusDataResponse" />
  </wsdl:message>
  <wsdl:portType name="GooglePlusSoap">
    <wsdl:operation name="AddGPlusAccount">
      <wsdl:input message="tns:AddGPlusAccountSoapIn" />
      <wsdl:output message="tns:AddGPlusAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGPusData">
      <wsdl:input message="tns:GetGPusDataSoapIn" />
      <wsdl:output message="tns:GetGPusDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GooglePlusSoap" type="tns:GooglePlusSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddGPlusAccount">
      <soap:operation soapAction="http://tempuri.org/AddGPlusAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGPusData">
      <soap:operation soapAction="http://tempuri.org/GetGPusData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GooglePlusSoap12" type="tns:GooglePlusSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddGPlusAccount">
      <soap12:operation soapAction="http://tempuri.org/AddGPlusAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGPusData">
      <soap12:operation soapAction="http://tempuri.org/GetGPusData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GooglePlus">
    <wsdl:port name="GooglePlusSoap" binding="tns:GooglePlusSoap">
      <soap:address location="http://localhost:2022/Services/GooglePlus.asmx" />
    </wsdl:port>
    <wsdl:port name="GooglePlusSoap12" binding="tns:GooglePlusSoap12">
      <soap12:address location="http://localhost:2022/Services/GooglePlus.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>