Myfashionmarketer/Web References/Api.InboxMessages/InboxMessages.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetInboxMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileIds" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageType" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noOfDataToSkip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noOfDataFromTop" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetInboxMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetInboxMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInboxMessageByMessageId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getInboxMessageByMessageIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getInboxMessageByMessageIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetInboxMessageSoapIn">
    <wsdl:part name="parameters" element="tns:GetInboxMessage" />
  </wsdl:message>
  <wsdl:message name="GetInboxMessageSoapOut">
    <wsdl:part name="parameters" element="tns:GetInboxMessageResponse" />
  </wsdl:message>
  <wsdl:message name="getInboxMessageByMessageIdSoapIn">
    <wsdl:part name="parameters" element="tns:getInboxMessageByMessageId" />
  </wsdl:message>
  <wsdl:message name="getInboxMessageByMessageIdSoapOut">
    <wsdl:part name="parameters" element="tns:getInboxMessageByMessageIdResponse" />
  </wsdl:message>
  <wsdl:portType name="InboxMessagesSoap">
    <wsdl:operation name="GetInboxMessage">
      <wsdl:input message="tns:GetInboxMessageSoapIn" />
      <wsdl:output message="tns:GetInboxMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getInboxMessageByMessageId">
      <wsdl:input message="tns:getInboxMessageByMessageIdSoapIn" />
      <wsdl:output message="tns:getInboxMessageByMessageIdSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="InboxMessagesSoap" type="tns:InboxMessagesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInboxMessage">
      <soap:operation soapAction="http://tempuri.org/GetInboxMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInboxMessageByMessageId">
      <soap:operation soapAction="http://tempuri.org/getInboxMessageByMessageId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="InboxMessagesSoap12" type="tns:InboxMessagesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetInboxMessage">
      <soap12:operation soapAction="http://tempuri.org/GetInboxMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getInboxMessageByMessageId">
      <soap12:operation soapAction="http://tempuri.org/getInboxMessageByMessageId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InboxMessages">
    <wsdl:port name="InboxMessagesSoap" binding="tns:InboxMessagesSoap">
      <soap:address location="http://localhost:2022/Services/InboxMessages.asmx" />
    </wsdl:port>
    <wsdl:port name="InboxMessagesSoap12" binding="tns:InboxMessagesSoap12">
      <soap12:address location="http://localhost:2022/Services/InboxMessages.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>