Myfashionmarketer/Web References/Api.FacebookAccount/FacebookAccount.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddFacebookAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FbUserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="FbUserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AccessToken" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Friends" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="EmailId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Type" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileUrl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="IsActive" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GroupId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddFacebookAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddFacebookAccountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFacebookAccountDetailsById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getFacebookAccountDetailsByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getFacebookAccountDetailsByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFacebookAccountDetailsById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFacebookAccountDetailsByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFacebookAccountDetailsByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsFacebookuserExist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsFacebookuserExistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsFacebookuserExistResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFacebookAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GroupId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteFacebookAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteFacebookAccountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFacebookAccountByUserId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetFacebookAccountByUserIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetFacebookAccountByUserIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFacebookAccountsOfUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFacebookAccountsOfUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllFacebookAccountsOfUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="FbUserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getUserDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getUserDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllFacebookAccountsByUserIdAndGroupId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllFacebookAccountsByUserIdAndGroupIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllFacebookAccountsByUserIdAndGroupIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllFacebookPageByUserIdAndGroupId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllFacebookPageByUserIdAndGroupIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllFacebookPageByUserIdAndGroupIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllFacebookAccountDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="profileid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllFacebookAccountDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllFacebookAccountDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllFacebookAccounts">
        <s:complexType />
      </s:element>
      <s:element name="GetAllFacebookAccountsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllFacebookAccountsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddFacebookAccountSoapIn">
    <wsdl:part name="parameters" element="tns:AddFacebookAccount" />
  </wsdl:message>
  <wsdl:message name="AddFacebookAccountSoapOut">
    <wsdl:part name="parameters" element="tns:AddFacebookAccountResponse" />
  </wsdl:message>
  <wsdl:message name="getFacebookAccountDetailsByIdSoapIn">
    <wsdl:part name="parameters" element="tns:getFacebookAccountDetailsById" />
  </wsdl:message>
  <wsdl:message name="getFacebookAccountDetailsByIdSoapOut">
    <wsdl:part name="parameters" element="tns:getFacebookAccountDetailsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetFacebookAccountDetailsByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetFacebookAccountDetailsById" />
  </wsdl:message>
  <wsdl:message name="GetFacebookAccountDetailsByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetFacebookAccountDetailsByIdResponse" />
  </wsdl:message>
  <wsdl:message name="IsFacebookuserExistSoapIn">
    <wsdl:part name="parameters" element="tns:IsFacebookuserExist" />
  </wsdl:message>
  <wsdl:message name="IsFacebookuserExistSoapOut">
    <wsdl:part name="parameters" element="tns:IsFacebookuserExistResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteFacebookAccountSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteFacebookAccount" />
  </wsdl:message>
  <wsdl:message name="DeleteFacebookAccountSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteFacebookAccountResponse" />
  </wsdl:message>
  <wsdl:message name="GetFacebookAccountByUserIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetFacebookAccountByUserId" />
  </wsdl:message>
  <wsdl:message name="GetFacebookAccountByUserIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetFacebookAccountByUserIdResponse" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookAccountsOfUserSoapIn">
    <wsdl:part name="parameters" element="tns:getAllFacebookAccountsOfUser" />
  </wsdl:message>
  <wsdl:message name="getAllFacebookAccountsOfUserSoapOut">
    <wsdl:part name="parameters" element="tns:getAllFacebookAccountsOfUserResponse" />
  </wsdl:message>
  <wsdl:message name="getUserDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:getUserDetails" />
  </wsdl:message>
  <wsdl:message name="getUserDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:getUserDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllFacebookAccountsByUserIdAndGroupIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllFacebookAccountsByUserIdAndGroupId" />
  </wsdl:message>
  <wsdl:message name="GetAllFacebookAccountsByUserIdAndGroupIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllFacebookAccountsByUserIdAndGroupIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllFacebookPageByUserIdAndGroupIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllFacebookPageByUserIdAndGroupId" />
  </wsdl:message>
  <wsdl:message name="GetAllFacebookPageByUserIdAndGroupIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllFacebookPageByUserIdAndGroupIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllFacebookAccountDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllFacebookAccountDetails" />
  </wsdl:message>
  <wsdl:message name="GetAllFacebookAccountDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllFacebookAccountDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllFacebookAccountsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllFacebookAccounts" />
  </wsdl:message>
  <wsdl:message name="GetAllFacebookAccountsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllFacebookAccountsResponse" />
  </wsdl:message>
  <wsdl:portType name="FacebookAccountSoap">
    <wsdl:operation name="AddFacebookAccount">
      <wsdl:input message="tns:AddFacebookAccountSoapIn" />
      <wsdl:output message="tns:AddFacebookAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getFacebookAccountDetailsById">
      <wsdl:input message="tns:getFacebookAccountDetailsByIdSoapIn" />
      <wsdl:output message="tns:getFacebookAccountDetailsByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFacebookAccountDetailsById">
      <wsdl:input message="tns:GetFacebookAccountDetailsByIdSoapIn" />
      <wsdl:output message="tns:GetFacebookAccountDetailsByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsFacebookuserExist">
      <wsdl:input message="tns:IsFacebookuserExistSoapIn" />
      <wsdl:output message="tns:IsFacebookuserExistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteFacebookAccount">
      <wsdl:input message="tns:DeleteFacebookAccountSoapIn" />
      <wsdl:output message="tns:DeleteFacebookAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetFacebookAccountByUserId">
      <wsdl:input message="tns:GetFacebookAccountByUserIdSoapIn" />
      <wsdl:output message="tns:GetFacebookAccountByUserIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookAccountsOfUser">
      <wsdl:input message="tns:getAllFacebookAccountsOfUserSoapIn" />
      <wsdl:output message="tns:getAllFacebookAccountsOfUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getUserDetails">
      <wsdl:input message="tns:getUserDetailsSoapIn" />
      <wsdl:output message="tns:getUserDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFacebookAccountsByUserIdAndGroupId">
      <wsdl:input message="tns:GetAllFacebookAccountsByUserIdAndGroupIdSoapIn" />
      <wsdl:output message="tns:GetAllFacebookAccountsByUserIdAndGroupIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFacebookPageByUserIdAndGroupId">
      <wsdl:input message="tns:GetAllFacebookPageByUserIdAndGroupIdSoapIn" />
      <wsdl:output message="tns:GetAllFacebookPageByUserIdAndGroupIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFacebookAccountDetails">
      <wsdl:input message="tns:GetAllFacebookAccountDetailsSoapIn" />
      <wsdl:output message="tns:GetAllFacebookAccountDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllFacebookAccounts">
      <wsdl:input message="tns:GetAllFacebookAccountsSoapIn" />
      <wsdl:output message="tns:GetAllFacebookAccountsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FacebookAccountSoap" type="tns:FacebookAccountSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddFacebookAccount">
      <soap:operation soapAction="http://tempuri.org/AddFacebookAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFacebookAccountDetailsById">
      <soap:operation soapAction="http://tempuri.org/getFacebookAccountDetailsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacebookAccountDetailsById">
      <soap:operation soapAction="http://tempuri.org/GetFacebookAccountDetailsById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsFacebookuserExist">
      <soap:operation soapAction="http://tempuri.org/IsFacebookuserExist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFacebookAccount">
      <soap:operation soapAction="http://tempuri.org/DeleteFacebookAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacebookAccountByUserId">
      <soap:operation soapAction="http://tempuri.org/GetFacebookAccountByUserId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookAccountsOfUser">
      <soap:operation soapAction="http://tempuri.org/getAllFacebookAccountsOfUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserDetails">
      <soap:operation soapAction="http://tempuri.org/getUserDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFacebookAccountsByUserIdAndGroupId">
      <soap:operation soapAction="http://tempuri.org/GetAllFacebookAccountsByUserIdAndGroupId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFacebookPageByUserIdAndGroupId">
      <soap:operation soapAction="http://tempuri.org/GetAllFacebookPageByUserIdAndGroupId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFacebookAccountDetails">
      <soap:operation soapAction="http://tempuri.org/GetAllFacebookAccountDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFacebookAccounts">
      <soap:operation soapAction="http://tempuri.org/GetAllFacebookAccounts" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FacebookAccountSoap12" type="tns:FacebookAccountSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddFacebookAccount">
      <soap12:operation soapAction="http://tempuri.org/AddFacebookAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getFacebookAccountDetailsById">
      <soap12:operation soapAction="http://tempuri.org/getFacebookAccountDetailsById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacebookAccountDetailsById">
      <soap12:operation soapAction="http://tempuri.org/GetFacebookAccountDetailsById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsFacebookuserExist">
      <soap12:operation soapAction="http://tempuri.org/IsFacebookuserExist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteFacebookAccount">
      <soap12:operation soapAction="http://tempuri.org/DeleteFacebookAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetFacebookAccountByUserId">
      <soap12:operation soapAction="http://tempuri.org/GetFacebookAccountByUserId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFacebookAccountsOfUser">
      <soap12:operation soapAction="http://tempuri.org/getAllFacebookAccountsOfUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getUserDetails">
      <soap12:operation soapAction="http://tempuri.org/getUserDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFacebookAccountsByUserIdAndGroupId">
      <soap12:operation soapAction="http://tempuri.org/GetAllFacebookAccountsByUserIdAndGroupId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFacebookPageByUserIdAndGroupId">
      <soap12:operation soapAction="http://tempuri.org/GetAllFacebookPageByUserIdAndGroupId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFacebookAccountDetails">
      <soap12:operation soapAction="http://tempuri.org/GetAllFacebookAccountDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllFacebookAccounts">
      <soap12:operation soapAction="http://tempuri.org/GetAllFacebookAccounts" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FacebookAccount">
    <wsdl:port name="FacebookAccountSoap" binding="tns:FacebookAccountSoap">
      <soap:address location="http://localhost:2022/Services/FacebookAccount.asmx" />
    </wsdl:port>
    <wsdl:port name="FacebookAccountSoap12" binding="tns:FacebookAccountSoap12">
      <soap12:address location="http://localhost:2022/Services/FacebookAccount.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>