Myfashionmarketer/Web References/Api.BusinessSetting/BusinessSetting.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBusinessByUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjBusinessSetting" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddBusinessByUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddBusinessByUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsNotificationTaskEnable">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="groupsId" type="s1:guid" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="IsNotificationTaskEnableResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="IsNotificationTaskEnableResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDetailsofBusinessOwner">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GroupId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDetailsofBusinessOwnerResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDetailsofBusinessOwnerResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="AddBusinessByUserSoapIn">
    <wsdl:part name="parameters" element="tns:AddBusinessByUser" />
  </wsdl:message>
  <wsdl:message name="AddBusinessByUserSoapOut">
    <wsdl:part name="parameters" element="tns:AddBusinessByUserResponse" />
  </wsdl:message>
  <wsdl:message name="IsNotificationTaskEnableSoapIn">
    <wsdl:part name="parameters" element="tns:IsNotificationTaskEnable" />
  </wsdl:message>
  <wsdl:message name="IsNotificationTaskEnableSoapOut">
    <wsdl:part name="parameters" element="tns:IsNotificationTaskEnableResponse" />
  </wsdl:message>
  <wsdl:message name="GetDetailsofBusinessOwnerSoapIn">
    <wsdl:part name="parameters" element="tns:GetDetailsofBusinessOwner" />
  </wsdl:message>
  <wsdl:message name="GetDetailsofBusinessOwnerSoapOut">
    <wsdl:part name="parameters" element="tns:GetDetailsofBusinessOwnerResponse" />
  </wsdl:message>
  <wsdl:portType name="BusinessSettingSoap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddBusinessByUser">
      <wsdl:input message="tns:AddBusinessByUserSoapIn" />
      <wsdl:output message="tns:AddBusinessByUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="IsNotificationTaskEnable">
      <wsdl:input message="tns:IsNotificationTaskEnableSoapIn" />
      <wsdl:output message="tns:IsNotificationTaskEnableSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDetailsofBusinessOwner">
      <wsdl:input message="tns:GetDetailsofBusinessOwnerSoapIn" />
      <wsdl:output message="tns:GetDetailsofBusinessOwnerSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BusinessSettingSoap" type="tns:BusinessSettingSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBusinessByUser">
      <soap:operation soapAction="http://tempuri.org/AddBusinessByUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsNotificationTaskEnable">
      <soap:operation soapAction="http://tempuri.org/IsNotificationTaskEnable" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetailsofBusinessOwner">
      <soap:operation soapAction="http://tempuri.org/GetDetailsofBusinessOwner" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="BusinessSettingSoap12" type="tns:BusinessSettingSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddBusinessByUser">
      <soap12:operation soapAction="http://tempuri.org/AddBusinessByUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="IsNotificationTaskEnable">
      <soap12:operation soapAction="http://tempuri.org/IsNotificationTaskEnable" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDetailsofBusinessOwner">
      <soap12:operation soapAction="http://tempuri.org/GetDetailsofBusinessOwner" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="BusinessSetting">
    <wsdl:port name="BusinessSettingSoap" binding="tns:BusinessSettingSoap">
      <soap:address location="http://localhost:2022/Services/BusinessSetting.asmx" />
    </wsdl:port>
    <wsdl:port name="BusinessSettingSoap12" binding="tns:BusinessSettingSoap12">
      <soap12:address location="http://localhost:2022/Services/BusinessSetting.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>