Myfashionmarketer/Web References/Api.Tasks/Tasks.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="CreateNewTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="task" type="tns:Tasks" />
            <s:element minOccurs="0" maxOccurs="1" name="assigntoId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="Tasks">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="Id" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="GroupId" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="TaskMessage" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="UserId" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="AssignTaskTo" type="s1:guid" />
          <s:element minOccurs="1" maxOccurs="1" name="TaskStatus" type="s:boolean" />
          <s:element minOccurs="0" maxOccurs="1" name="AssignDate" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CompletionDate" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="ReadStatus" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TaskMessageDate" type="s:dateTime" />
        </s:sequence>
      </s:complexType>
      <s:element name="CreateNewTaskResponse">
        <s:complexType />
      </s:element>
      <s:element name="CreateNewTaskForAnroid">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="assigntoId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CreateNewTaskForAnroidResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAllTasks">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="custid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTasksResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTasksResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTasksByUserIdTaskId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="taskMessage" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="assignTaskTo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="taskStatus" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="assignDate" type="s:dateTime" />
            <s:element minOccurs="0" maxOccurs="1" name="taskId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTasksByUserIdTaskIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateTasksByUserIdTaskIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTasksOfUserList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTasksOfUserListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllTasksOfUserListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTaskByUserIdAndGroupId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="username" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profileurl" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="days" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTaskByUserIdAndGroupIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTaskByUserIdAndGroupIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTasksCommentOfUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="taskid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTasksCommentOfUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllTasksCommentOfUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTasksCommentOfUserList">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="taskid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTasksCommentOfUserListResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllTasksCommentOfUserListResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="task" type="tns:Tasks" />
            <s:element minOccurs="0" maxOccurs="1" name="assigntoId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AssignDate" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addTaskResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddNewTaskWithGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messagedate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="task" type="tns:Tasks" />
            <s:element minOccurs="0" maxOccurs="1" name="assigntoId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AssignDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewTaskWithGroupResponse">
        <s:complexType />
      </s:element>
      <s:element name="AddNewTaskWithGroupForApps">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="description" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messagedate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="assigntoId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="comment" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddNewTaskWithGroupForAppsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddNewTaskWithGroupForAppsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeTaskStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="TaskId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Status" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ChangeTaskStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ChangeTaskStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TaskId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="DeleteTaskResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTaskReadStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TaskId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GroupId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTaskReadStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateTaskReadStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllIncompleteTaskofUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllIncompleteTaskofUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllIncompleteTaskofUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllCompleteTaskofUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllCompleteTaskofUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllCompleteTaskofUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTeamTask">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="groupid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTeamTaskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTeamTaskResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="CreateNewTaskSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNewTask" />
  </wsdl:message>
  <wsdl:message name="CreateNewTaskSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewTaskResponse" />
  </wsdl:message>
  <wsdl:message name="CreateNewTaskForAnroidSoapIn">
    <wsdl:part name="parameters" element="tns:CreateNewTaskForAnroid" />
  </wsdl:message>
  <wsdl:message name="CreateNewTaskForAnroidSoapOut">
    <wsdl:part name="parameters" element="tns:CreateNewTaskForAnroidResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTasksSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTasks" />
  </wsdl:message>
  <wsdl:message name="GetAllTasksSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTasksResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateTasksByUserIdTaskIdSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateTasksByUserIdTaskId" />
  </wsdl:message>
  <wsdl:message name="UpdateTasksByUserIdTaskIdSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateTasksByUserIdTaskIdResponse" />
  </wsdl:message>
  <wsdl:message name="getAllTasksOfUserListSoapIn">
    <wsdl:part name="parameters" element="tns:getAllTasksOfUserList" />
  </wsdl:message>
  <wsdl:message name="getAllTasksOfUserListSoapOut">
    <wsdl:part name="parameters" element="tns:getAllTasksOfUserListResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTaskByUserIdAndGroupIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTaskByUserIdAndGroupId" />
  </wsdl:message>
  <wsdl:message name="GetAllTaskByUserIdAndGroupIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTaskByUserIdAndGroupIdResponse" />
  </wsdl:message>
  <wsdl:message name="getAllTasksCommentOfUserSoapIn">
    <wsdl:part name="parameters" element="tns:getAllTasksCommentOfUser" />
  </wsdl:message>
  <wsdl:message name="getAllTasksCommentOfUserSoapOut">
    <wsdl:part name="parameters" element="tns:getAllTasksCommentOfUserResponse" />
  </wsdl:message>
  <wsdl:message name="getAllTasksCommentOfUserListSoapIn">
    <wsdl:part name="parameters" element="tns:getAllTasksCommentOfUserList" />
  </wsdl:message>
  <wsdl:message name="getAllTasksCommentOfUserListSoapOut">
    <wsdl:part name="parameters" element="tns:getAllTasksCommentOfUserListResponse" />
  </wsdl:message>
  <wsdl:message name="addTaskSoapIn">
    <wsdl:part name="parameters" element="tns:addTask" />
  </wsdl:message>
  <wsdl:message name="addTaskSoapOut">
    <wsdl:part name="parameters" element="tns:addTaskResponse" />
  </wsdl:message>
  <wsdl:message name="AddNewTaskWithGroupSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewTaskWithGroup" />
  </wsdl:message>
  <wsdl:message name="AddNewTaskWithGroupSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewTaskWithGroupResponse" />
  </wsdl:message>
  <wsdl:message name="AddNewTaskWithGroupForAppsSoapIn">
    <wsdl:part name="parameters" element="tns:AddNewTaskWithGroupForApps" />
  </wsdl:message>
  <wsdl:message name="AddNewTaskWithGroupForAppsSoapOut">
    <wsdl:part name="parameters" element="tns:AddNewTaskWithGroupForAppsResponse" />
  </wsdl:message>
  <wsdl:message name="ChangeTaskStatusSoapIn">
    <wsdl:part name="parameters" element="tns:ChangeTaskStatus" />
  </wsdl:message>
  <wsdl:message name="ChangeTaskStatusSoapOut">
    <wsdl:part name="parameters" element="tns:ChangeTaskStatusResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteTaskSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteTask" />
  </wsdl:message>
  <wsdl:message name="DeleteTaskSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteTaskResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateTaskReadStatusSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateTaskReadStatus" />
  </wsdl:message>
  <wsdl:message name="UpdateTaskReadStatusSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateTaskReadStatusResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllIncompleteTaskofUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllIncompleteTaskofUser" />
  </wsdl:message>
  <wsdl:message name="GetAllIncompleteTaskofUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllIncompleteTaskofUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllCompleteTaskofUserSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllCompleteTaskofUser" />
  </wsdl:message>
  <wsdl:message name="GetAllCompleteTaskofUserSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllCompleteTaskofUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTeamTaskSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTeamTask" />
  </wsdl:message>
  <wsdl:message name="GetAllTeamTaskSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTeamTaskResponse" />
  </wsdl:message>
  <wsdl:portType name="TasksSoap">
    <wsdl:operation name="CreateNewTask">
      <wsdl:input message="tns:CreateNewTaskSoapIn" />
      <wsdl:output message="tns:CreateNewTaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CreateNewTaskForAnroid">
      <wsdl:input message="tns:CreateNewTaskForAnroidSoapIn" />
      <wsdl:output message="tns:CreateNewTaskForAnroidSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTasks">
      <wsdl:input message="tns:GetAllTasksSoapIn" />
      <wsdl:output message="tns:GetAllTasksSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTasksByUserIdTaskId">
      <wsdl:input message="tns:UpdateTasksByUserIdTaskIdSoapIn" />
      <wsdl:output message="tns:UpdateTasksByUserIdTaskIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTasksOfUserList">
      <wsdl:input message="tns:getAllTasksOfUserListSoapIn" />
      <wsdl:output message="tns:getAllTasksOfUserListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTaskByUserIdAndGroupId">
      <wsdl:input message="tns:GetAllTaskByUserIdAndGroupIdSoapIn" />
      <wsdl:output message="tns:GetAllTaskByUserIdAndGroupIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTasksCommentOfUser">
      <wsdl:input message="tns:getAllTasksCommentOfUserSoapIn" />
      <wsdl:output message="tns:getAllTasksCommentOfUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTasksCommentOfUserList">
      <wsdl:input message="tns:getAllTasksCommentOfUserListSoapIn" />
      <wsdl:output message="tns:getAllTasksCommentOfUserListSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addTask">
      <wsdl:input message="tns:addTaskSoapIn" />
      <wsdl:output message="tns:addTaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNewTaskWithGroup">
      <wsdl:input message="tns:AddNewTaskWithGroupSoapIn" />
      <wsdl:output message="tns:AddNewTaskWithGroupSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddNewTaskWithGroupForApps">
      <wsdl:input message="tns:AddNewTaskWithGroupForAppsSoapIn" />
      <wsdl:output message="tns:AddNewTaskWithGroupForAppsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ChangeTaskStatus">
      <wsdl:input message="tns:ChangeTaskStatusSoapIn" />
      <wsdl:output message="tns:ChangeTaskStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <wsdl:input message="tns:DeleteTaskSoapIn" />
      <wsdl:output message="tns:DeleteTaskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTaskReadStatus">
      <wsdl:input message="tns:UpdateTaskReadStatusSoapIn" />
      <wsdl:output message="tns:UpdateTaskReadStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllIncompleteTaskofUser">
      <wsdl:input message="tns:GetAllIncompleteTaskofUserSoapIn" />
      <wsdl:output message="tns:GetAllIncompleteTaskofUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllCompleteTaskofUser">
      <wsdl:input message="tns:GetAllCompleteTaskofUserSoapIn" />
      <wsdl:output message="tns:GetAllCompleteTaskofUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTeamTask">
      <wsdl:input message="tns:GetAllTeamTaskSoapIn" />
      <wsdl:output message="tns:GetAllTeamTaskSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TasksSoap" type="tns:TasksSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewTask">
      <soap:operation soapAction="http://tempuri.org/CreateNewTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewTaskForAnroid">
      <soap:operation soapAction="http://tempuri.org/CreateNewTaskForAnroid" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTasks">
      <soap:operation soapAction="http://tempuri.org/GetAllTasks" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTasksByUserIdTaskId">
      <soap:operation soapAction="http://tempuri.org/UpdateTasksByUserIdTaskId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTasksOfUserList">
      <soap:operation soapAction="http://tempuri.org/getAllTasksOfUserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTaskByUserIdAndGroupId">
      <soap:operation soapAction="http://tempuri.org/GetAllTaskByUserIdAndGroupId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTasksCommentOfUser">
      <soap:operation soapAction="http://tempuri.org/getAllTasksCommentOfUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTasksCommentOfUserList">
      <soap:operation soapAction="http://tempuri.org/getAllTasksCommentOfUserList" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTask">
      <soap:operation soapAction="http://tempuri.org/addTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewTaskWithGroup">
      <soap:operation soapAction="http://tempuri.org/AddNewTaskWithGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewTaskWithGroupForApps">
      <soap:operation soapAction="http://tempuri.org/AddNewTaskWithGroupForApps" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeTaskStatus">
      <soap:operation soapAction="http://tempuri.org/ChangeTaskStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <soap:operation soapAction="http://tempuri.org/DeleteTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTaskReadStatus">
      <soap:operation soapAction="http://tempuri.org/UpdateTaskReadStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllIncompleteTaskofUser">
      <soap:operation soapAction="http://tempuri.org/GetAllIncompleteTaskofUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCompleteTaskofUser">
      <soap:operation soapAction="http://tempuri.org/GetAllCompleteTaskofUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTeamTask">
      <soap:operation soapAction="http://tempuri.org/GetAllTeamTask" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TasksSoap12" type="tns:TasksSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateNewTask">
      <soap12:operation soapAction="http://tempuri.org/CreateNewTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateNewTaskForAnroid">
      <soap12:operation soapAction="http://tempuri.org/CreateNewTaskForAnroid" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTasks">
      <soap12:operation soapAction="http://tempuri.org/GetAllTasks" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTasksByUserIdTaskId">
      <soap12:operation soapAction="http://tempuri.org/UpdateTasksByUserIdTaskId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTasksOfUserList">
      <soap12:operation soapAction="http://tempuri.org/getAllTasksOfUserList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTaskByUserIdAndGroupId">
      <soap12:operation soapAction="http://tempuri.org/GetAllTaskByUserIdAndGroupId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTasksCommentOfUser">
      <soap12:operation soapAction="http://tempuri.org/getAllTasksCommentOfUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTasksCommentOfUserList">
      <soap12:operation soapAction="http://tempuri.org/getAllTasksCommentOfUserList" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addTask">
      <soap12:operation soapAction="http://tempuri.org/addTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewTaskWithGroup">
      <soap12:operation soapAction="http://tempuri.org/AddNewTaskWithGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddNewTaskWithGroupForApps">
      <soap12:operation soapAction="http://tempuri.org/AddNewTaskWithGroupForApps" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ChangeTaskStatus">
      <soap12:operation soapAction="http://tempuri.org/ChangeTaskStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteTask">
      <soap12:operation soapAction="http://tempuri.org/DeleteTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTaskReadStatus">
      <soap12:operation soapAction="http://tempuri.org/UpdateTaskReadStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllIncompleteTaskofUser">
      <soap12:operation soapAction="http://tempuri.org/GetAllIncompleteTaskofUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllCompleteTaskofUser">
      <soap12:operation soapAction="http://tempuri.org/GetAllCompleteTaskofUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTeamTask">
      <soap12:operation soapAction="http://tempuri.org/GetAllTeamTask" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Tasks">
    <wsdl:port name="TasksSoap" binding="tns:TasksSoap">
      <soap:address location="http://localhost:2022/Services/Tasks.asmx" />
    </wsdl:port>
    <wsdl:port name="TasksSoap12" binding="tns:TasksSoap12">
      <soap12:address location="http://localhost:2022/Services/Tasks.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>