Myfashionmarketer/Web References/Api.GooglePlusActivities/GooglePlusActivities.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="getgoogleplusActivity">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getgoogleplusActivityResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getgoogleplusActivityResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="getgoogleplusActivitySoapIn">
    <wsdl:part name="parameters" element="tns:getgoogleplusActivity" />
  </wsdl:message>
  <wsdl:message name="getgoogleplusActivitySoapOut">
    <wsdl:part name="parameters" element="tns:getgoogleplusActivityResponse" />
  </wsdl:message>
  <wsdl:portType name="GooglePlusActivitiesSoap">
    <wsdl:operation name="getgoogleplusActivity">
      <wsdl:input message="tns:getgoogleplusActivitySoapIn" />
      <wsdl:output message="tns:getgoogleplusActivitySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GooglePlusActivitiesSoap" type="tns:GooglePlusActivitiesSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getgoogleplusActivity">
      <soap:operation soapAction="http://tempuri.org/getgoogleplusActivity" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GooglePlusActivitiesSoap12" type="tns:GooglePlusActivitiesSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="getgoogleplusActivity">
      <soap12:operation soapAction="http://tempuri.org/getgoogleplusActivity" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GooglePlusActivities">
    <wsdl:port name="GooglePlusActivitiesSoap" binding="tns:GooglePlusActivitiesSoap">
      <soap:address location="http://localhost:2022/Services/GooglePlusActivities.asmx" />
    </wsdl:port>
    <wsdl:port name="GooglePlusActivitiesSoap12" binding="tns:GooglePlusActivitiesSoap12">
      <soap12:address location="http://localhost:2022/Services/GooglePlusActivities.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>