Myfashionmarketer/Web References/Api.TumblrFeed/TumblrFeed.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllTumblrFeedOfUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTumblrFeedOfUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTumblrFeedOfUsersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTumblrFeedOfUsersWithRange">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noOfDataToSkip" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTumblrFeedOfUsersWithRangeResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTumblrFeedOfUsersWithRangeResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllTumblrFeedOfUsersSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTumblrFeedOfUsers" />
  </wsdl:message>
  <wsdl:message name="GetAllTumblrFeedOfUsersSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTumblrFeedOfUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTumblrFeedOfUsersWithRangeSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTumblrFeedOfUsersWithRange" />
  </wsdl:message>
  <wsdl:message name="GetAllTumblrFeedOfUsersWithRangeSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTumblrFeedOfUsersWithRangeResponse" />
  </wsdl:message>
  <wsdl:portType name="TumblrFeedSoap">
    <wsdl:operation name="GetAllTumblrFeedOfUsers">
      <wsdl:input message="tns:GetAllTumblrFeedOfUsersSoapIn" />
      <wsdl:output message="tns:GetAllTumblrFeedOfUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTumblrFeedOfUsersWithRange">
      <wsdl:input message="tns:GetAllTumblrFeedOfUsersWithRangeSoapIn" />
      <wsdl:output message="tns:GetAllTumblrFeedOfUsersWithRangeSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TumblrFeedSoap" type="tns:TumblrFeedSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTumblrFeedOfUsers">
      <soap:operation soapAction="http://tempuri.org/GetAllTumblrFeedOfUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTumblrFeedOfUsersWithRange">
      <soap:operation soapAction="http://tempuri.org/GetAllTumblrFeedOfUsersWithRange" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TumblrFeedSoap12" type="tns:TumblrFeedSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTumblrFeedOfUsers">
      <soap12:operation soapAction="http://tempuri.org/GetAllTumblrFeedOfUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTumblrFeedOfUsersWithRange">
      <soap12:operation soapAction="http://tempuri.org/GetAllTumblrFeedOfUsersWithRange" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TumblrFeed">
    <wsdl:port name="TumblrFeedSoap" binding="tns:TumblrFeedSoap">
      <soap:address location="http://localhost:2022/Services/TumblrFeed.asmx" />
    </wsdl:port>
    <wsdl:port name="TumblrFeedSoap12" binding="tns:TumblrFeedSoap12">
      <soap12:address location="http://localhost:2022/Services/TumblrFeed.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>