Myfashionmarketer/Web References/Api.ArchiveMessage/ArchiveMessage.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AddArchiveMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SocialGroup" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CreatedDateTime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ImgUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddArchiveMessageResponse">
        <s:complexType />
      </s:element>
      <s:element name="CheckArchiveMessageExists">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="messageid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CheckArchiveMessageExistsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="CheckArchiveMessageExistsResult" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteArchiveMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="SocialGroup" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="DeleteArchiveMessageResponse">
        <s:complexType />
      </s:element>
      <s:element name="GetAllArchiveMessagesDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profileid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllArchiveMessagesDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllArchiveMessagesDetailsResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddArchiveMessageSoapIn">
    <wsdl:part name="parameters" element="tns:AddArchiveMessage" />
  </wsdl:message>
  <wsdl:message name="AddArchiveMessageSoapOut">
    <wsdl:part name="parameters" element="tns:AddArchiveMessageResponse" />
  </wsdl:message>
  <wsdl:message name="CheckArchiveMessageExistsSoapIn">
    <wsdl:part name="parameters" element="tns:CheckArchiveMessageExists" />
  </wsdl:message>
  <wsdl:message name="CheckArchiveMessageExistsSoapOut">
    <wsdl:part name="parameters" element="tns:CheckArchiveMessageExistsResponse" />
  </wsdl:message>
  <wsdl:message name="DeleteArchiveMessageSoapIn">
    <wsdl:part name="parameters" element="tns:DeleteArchiveMessage" />
  </wsdl:message>
  <wsdl:message name="DeleteArchiveMessageSoapOut">
    <wsdl:part name="parameters" element="tns:DeleteArchiveMessageResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllArchiveMessagesDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllArchiveMessagesDetails" />
  </wsdl:message>
  <wsdl:message name="GetAllArchiveMessagesDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllArchiveMessagesDetailsResponse" />
  </wsdl:message>
  <wsdl:portType name="ArchiveMessageSoap">
    <wsdl:operation name="AddArchiveMessage">
      <wsdl:input message="tns:AddArchiveMessageSoapIn" />
      <wsdl:output message="tns:AddArchiveMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CheckArchiveMessageExists">
      <wsdl:input message="tns:CheckArchiveMessageExistsSoapIn" />
      <wsdl:output message="tns:CheckArchiveMessageExistsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="DeleteArchiveMessage">
      <wsdl:input message="tns:DeleteArchiveMessageSoapIn" />
      <wsdl:output message="tns:DeleteArchiveMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllArchiveMessagesDetails">
      <wsdl:input message="tns:GetAllArchiveMessagesDetailsSoapIn" />
      <wsdl:output message="tns:GetAllArchiveMessagesDetailsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ArchiveMessageSoap" type="tns:ArchiveMessageSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddArchiveMessage">
      <soap:operation soapAction="http://tempuri.org/AddArchiveMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckArchiveMessageExists">
      <soap:operation soapAction="http://tempuri.org/CheckArchiveMessageExists" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteArchiveMessage">
      <soap:operation soapAction="http://tempuri.org/DeleteArchiveMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllArchiveMessagesDetails">
      <soap:operation soapAction="http://tempuri.org/GetAllArchiveMessagesDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ArchiveMessageSoap12" type="tns:ArchiveMessageSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddArchiveMessage">
      <soap12:operation soapAction="http://tempuri.org/AddArchiveMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckArchiveMessageExists">
      <soap12:operation soapAction="http://tempuri.org/CheckArchiveMessageExists" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteArchiveMessage">
      <soap12:operation soapAction="http://tempuri.org/DeleteArchiveMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllArchiveMessagesDetails">
      <soap12:operation soapAction="http://tempuri.org/GetAllArchiveMessagesDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ArchiveMessage">
    <wsdl:port name="ArchiveMessageSoap" binding="tns:ArchiveMessageSoap">
      <soap:address location="http://localhost:2022/Services/ArchiveMessage.asmx" />
    </wsdl:port>
    <wsdl:port name="ArchiveMessageSoap12" binding="tns:ArchiveMessageSoap12">
      <soap12:address location="http://localhost:2022/Services/ArchiveMessage.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>