Myfashionmarketer/Web References/Api.Tumblr/Tumblr.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetTumblrRedirectUrl">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="consumerKey" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="consumerSecret" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="CallBackUrl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTumblrRedirectUrlResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTumblrRedirectUrlResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTumblrAccount">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="client_id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="client_secret" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="redirect_uri" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="GroupId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="code" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddTumblrAccountResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddTumblrAccountResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTumblrData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Tumblrid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTumblrDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTumblrDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SheduleTumblrMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TumblrId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sscheduledmsgguid" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SheduleTumblrMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SheduleTumblrMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TumblerData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="tumblrusername" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TumblerDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TumblerDataResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TumblrComposeMessage">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="message" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="profileid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="userid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="currentdatetime" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="picurl" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="TumblrComposeMessageResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="TumblrComposeMessageResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTumblrAccountByAdmin">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjTumblr" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateTumblrAccountByAdminResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateTumblrAccountByAdminResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetTumblrRedirectUrlSoapIn">
    <wsdl:part name="parameters" element="tns:GetTumblrRedirectUrl" />
  </wsdl:message>
  <wsdl:message name="GetTumblrRedirectUrlSoapOut">
    <wsdl:part name="parameters" element="tns:GetTumblrRedirectUrlResponse" />
  </wsdl:message>
  <wsdl:message name="AddTumblrAccountSoapIn">
    <wsdl:part name="parameters" element="tns:AddTumblrAccount" />
  </wsdl:message>
  <wsdl:message name="AddTumblrAccountSoapOut">
    <wsdl:part name="parameters" element="tns:AddTumblrAccountResponse" />
  </wsdl:message>
  <wsdl:message name="getTumblrDataSoapIn">
    <wsdl:part name="parameters" element="tns:getTumblrData" />
  </wsdl:message>
  <wsdl:message name="getTumblrDataSoapOut">
    <wsdl:part name="parameters" element="tns:getTumblrDataResponse" />
  </wsdl:message>
  <wsdl:message name="SheduleTumblrMessageSoapIn">
    <wsdl:part name="parameters" element="tns:SheduleTumblrMessage" />
  </wsdl:message>
  <wsdl:message name="SheduleTumblrMessageSoapOut">
    <wsdl:part name="parameters" element="tns:SheduleTumblrMessageResponse" />
  </wsdl:message>
  <wsdl:message name="TumblerDataSoapIn">
    <wsdl:part name="parameters" element="tns:TumblerData" />
  </wsdl:message>
  <wsdl:message name="TumblerDataSoapOut">
    <wsdl:part name="parameters" element="tns:TumblerDataResponse" />
  </wsdl:message>
  <wsdl:message name="TumblrComposeMessageSoapIn">
    <wsdl:part name="parameters" element="tns:TumblrComposeMessage" />
  </wsdl:message>
  <wsdl:message name="TumblrComposeMessageSoapOut">
    <wsdl:part name="parameters" element="tns:TumblrComposeMessageResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateTumblrAccountByAdminSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateTumblrAccountByAdmin" />
  </wsdl:message>
  <wsdl:message name="UpdateTumblrAccountByAdminSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateTumblrAccountByAdminResponse" />
  </wsdl:message>
  <wsdl:portType name="TumblrSoap">
    <wsdl:operation name="GetTumblrRedirectUrl">
      <wsdl:input message="tns:GetTumblrRedirectUrlSoapIn" />
      <wsdl:output message="tns:GetTumblrRedirectUrlSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddTumblrAccount">
      <wsdl:input message="tns:AddTumblrAccountSoapIn" />
      <wsdl:output message="tns:AddTumblrAccountSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTumblrData">
      <wsdl:input message="tns:getTumblrDataSoapIn" />
      <wsdl:output message="tns:getTumblrDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SheduleTumblrMessage">
      <wsdl:input message="tns:SheduleTumblrMessageSoapIn" />
      <wsdl:output message="tns:SheduleTumblrMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TumblerData">
      <wsdl:input message="tns:TumblerDataSoapIn" />
      <wsdl:output message="tns:TumblerDataSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="TumblrComposeMessage">
      <wsdl:input message="tns:TumblrComposeMessageSoapIn" />
      <wsdl:output message="tns:TumblrComposeMessageSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateTumblrAccountByAdmin">
      <wsdl:input message="tns:UpdateTumblrAccountByAdminSoapIn" />
      <wsdl:output message="tns:UpdateTumblrAccountByAdminSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TumblrSoap" type="tns:TumblrSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTumblrRedirectUrl">
      <soap:operation soapAction="http://tempuri.org/GetTumblrRedirectUrl" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTumblrAccount">
      <soap:operation soapAction="http://tempuri.org/AddTumblrAccount" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTumblrData">
      <soap:operation soapAction="http://tempuri.org/getTumblrData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SheduleTumblrMessage">
      <soap:operation soapAction="http://tempuri.org/SheduleTumblrMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TumblerData">
      <soap:operation soapAction="http://tempuri.org/TumblerData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TumblrComposeMessage">
      <soap:operation soapAction="http://tempuri.org/TumblrComposeMessage" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTumblrAccountByAdmin">
      <soap:operation soapAction="http://tempuri.org/UpdateTumblrAccountByAdmin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TumblrSoap12" type="tns:TumblrSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetTumblrRedirectUrl">
      <soap12:operation soapAction="http://tempuri.org/GetTumblrRedirectUrl" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddTumblrAccount">
      <soap12:operation soapAction="http://tempuri.org/AddTumblrAccount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTumblrData">
      <soap12:operation soapAction="http://tempuri.org/getTumblrData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SheduleTumblrMessage">
      <soap12:operation soapAction="http://tempuri.org/SheduleTumblrMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TumblerData">
      <soap12:operation soapAction="http://tempuri.org/TumblerData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="TumblrComposeMessage">
      <soap12:operation soapAction="http://tempuri.org/TumblrComposeMessage" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateTumblrAccountByAdmin">
      <soap12:operation soapAction="http://tempuri.org/UpdateTumblrAccountByAdmin" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Tumblr">
    <wsdl:port name="TumblrSoap" binding="tns:TumblrSoap">
      <soap:address location="http://localhost:2022/Services/Tumblr.asmx" />
    </wsdl:port>
    <wsdl:port name="TumblrSoap12" binding="tns:TumblrSoap12">
      <soap12:address location="http://localhost:2022/Services/Tumblr.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>