Myfashionmarketer/Web References/Api.SentimentalAnalysis/SentimentalAnalysis.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="updateAssignedStatus">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="Id" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="AssignedUserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="updateAssignedStatusResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="updateAssignedStatusResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNegativeFeedsOfUser">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getNegativeFeedsOfUserResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getNegativeFeedsOfUserResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTicketsofGroup">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GroupId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTicketsofGroupResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTicketsofGroupResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="updateAssignedStatusSoapIn">
    <wsdl:part name="parameters" element="tns:updateAssignedStatus" />
  </wsdl:message>
  <wsdl:message name="updateAssignedStatusSoapOut">
    <wsdl:part name="parameters" element="tns:updateAssignedStatusResponse" />
  </wsdl:message>
  <wsdl:message name="getNegativeFeedsOfUserSoapIn">
    <wsdl:part name="parameters" element="tns:getNegativeFeedsOfUser" />
  </wsdl:message>
  <wsdl:message name="getNegativeFeedsOfUserSoapOut">
    <wsdl:part name="parameters" element="tns:getNegativeFeedsOfUserResponse" />
  </wsdl:message>
  <wsdl:message name="GetTicketsofGroupSoapIn">
    <wsdl:part name="parameters" element="tns:GetTicketsofGroup" />
  </wsdl:message>
  <wsdl:message name="GetTicketsofGroupSoapOut">
    <wsdl:part name="parameters" element="tns:GetTicketsofGroupResponse" />
  </wsdl:message>
  <wsdl:portType name="SentimentalAnalysisSoap">
    <wsdl:operation name="updateAssignedStatus">
      <wsdl:input message="tns:updateAssignedStatusSoapIn" />
      <wsdl:output message="tns:updateAssignedStatusSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getNegativeFeedsOfUser">
      <wsdl:input message="tns:getNegativeFeedsOfUserSoapIn" />
      <wsdl:output message="tns:getNegativeFeedsOfUserSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTicketsofGroup">
      <wsdl:input message="tns:GetTicketsofGroupSoapIn" />
      <wsdl:output message="tns:GetTicketsofGroupSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SentimentalAnalysisSoap" type="tns:SentimentalAnalysisSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="updateAssignedStatus">
      <soap:operation soapAction="http://tempuri.org/updateAssignedStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNegativeFeedsOfUser">
      <soap:operation soapAction="http://tempuri.org/getNegativeFeedsOfUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketsofGroup">
      <soap:operation soapAction="http://tempuri.org/GetTicketsofGroup" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SentimentalAnalysisSoap12" type="tns:SentimentalAnalysisSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="updateAssignedStatus">
      <soap12:operation soapAction="http://tempuri.org/updateAssignedStatus" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getNegativeFeedsOfUser">
      <soap12:operation soapAction="http://tempuri.org/getNegativeFeedsOfUser" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTicketsofGroup">
      <soap12:operation soapAction="http://tempuri.org/GetTicketsofGroup" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SentimentalAnalysis">
    <wsdl:port name="SentimentalAnalysisSoap" binding="tns:SentimentalAnalysisSoap">
      <soap:address location="http://localhost:2022/Services/SentimentalAnalysis.asmx" />
    </wsdl:port>
    <wsdl:port name="SentimentalAnalysisSoap12" binding="tns:SentimentalAnalysisSoap12">
      <soap12:address location="http://localhost:2022/Services/SentimentalAnalysis.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>