Myfashionmarketer/Web References/Api.TwitterFeed/TwitterFeed.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllTwitterFeedsByUserIdAndProfileId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTwitterFeedsByUserIdAndProfileIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTwitterFeedsByUserIdAndProfileIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFeedsByUserIdAndProfileIdUsingLimit">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noOfDataToSkip" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="noOfResultsFromTop" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllFeedsByUserIdAndProfileIdUsingLimitResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllFeedsByUserIdAndProfileIdUsingLimitResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTwitterFeedsByUserIdAndProfileId1">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTwitterFeedsByUserIdAndProfileId1Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTwitterFeedsByUserIdAndProfileId1Result" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTwitterFeedOfUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getAllTwitterFeedOfUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getAllTwitterFeedOfUsersResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTwitterFeedById">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="id" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetTwitterFeedByIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetTwitterFeedByIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTwitterFeedByProfileId">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MessageId" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getTwitterFeedByProfileIdResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getTwitterFeedByProfileIdResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTwitterFeedsByUserIdAndProfileId1ByKeyword">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UserId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ProfileId" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="keyword" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="count" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetAllTwitterFeedsByUserIdAndProfileId1ByKeywordResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTwitterFeedsByUserIdAndProfileId1ByKeywordResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllTwitterFeedsByUserIdAndProfileIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTwitterFeedsByUserIdAndProfileId" />
  </wsdl:message>
  <wsdl:message name="GetAllTwitterFeedsByUserIdAndProfileIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTwitterFeedsByUserIdAndProfileIdResponse" />
  </wsdl:message>
  <wsdl:message name="getAllFeedsByUserIdAndProfileIdUsingLimitSoapIn">
    <wsdl:part name="parameters" element="tns:getAllFeedsByUserIdAndProfileIdUsingLimit" />
  </wsdl:message>
  <wsdl:message name="getAllFeedsByUserIdAndProfileIdUsingLimitSoapOut">
    <wsdl:part name="parameters" element="tns:getAllFeedsByUserIdAndProfileIdUsingLimitResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTwitterFeedsByUserIdAndProfileId1SoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTwitterFeedsByUserIdAndProfileId1" />
  </wsdl:message>
  <wsdl:message name="GetAllTwitterFeedsByUserIdAndProfileId1SoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTwitterFeedsByUserIdAndProfileId1Response" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterFeedOfUsersSoapIn">
    <wsdl:part name="parameters" element="tns:getAllTwitterFeedOfUsers" />
  </wsdl:message>
  <wsdl:message name="getAllTwitterFeedOfUsersSoapOut">
    <wsdl:part name="parameters" element="tns:getAllTwitterFeedOfUsersResponse" />
  </wsdl:message>
  <wsdl:message name="GetTwitterFeedByIdSoapIn">
    <wsdl:part name="parameters" element="tns:GetTwitterFeedById" />
  </wsdl:message>
  <wsdl:message name="GetTwitterFeedByIdSoapOut">
    <wsdl:part name="parameters" element="tns:GetTwitterFeedByIdResponse" />
  </wsdl:message>
  <wsdl:message name="getTwitterFeedByProfileIdSoapIn">
    <wsdl:part name="parameters" element="tns:getTwitterFeedByProfileId" />
  </wsdl:message>
  <wsdl:message name="getTwitterFeedByProfileIdSoapOut">
    <wsdl:part name="parameters" element="tns:getTwitterFeedByProfileIdResponse" />
  </wsdl:message>
  <wsdl:message name="GetAllTwitterFeedsByUserIdAndProfileId1ByKeywordSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTwitterFeedsByUserIdAndProfileId1ByKeyword" />
  </wsdl:message>
  <wsdl:message name="GetAllTwitterFeedsByUserIdAndProfileId1ByKeywordSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTwitterFeedsByUserIdAndProfileId1ByKeywordResponse" />
  </wsdl:message>
  <wsdl:portType name="TwitterFeedSoap">
    <wsdl:operation name="GetAllTwitterFeedsByUserIdAndProfileId">
      <wsdl:input message="tns:GetAllTwitterFeedsByUserIdAndProfileIdSoapIn" />
      <wsdl:output message="tns:GetAllTwitterFeedsByUserIdAndProfileIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllFeedsByUserIdAndProfileIdUsingLimit">
      <wsdl:input message="tns:getAllFeedsByUserIdAndProfileIdUsingLimitSoapIn" />
      <wsdl:output message="tns:getAllFeedsByUserIdAndProfileIdUsingLimitSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTwitterFeedsByUserIdAndProfileId1">
      <wsdl:input message="tns:GetAllTwitterFeedsByUserIdAndProfileId1SoapIn" />
      <wsdl:output message="tns:GetAllTwitterFeedsByUserIdAndProfileId1SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterFeedOfUsers">
      <wsdl:input message="tns:getAllTwitterFeedOfUsersSoapIn" />
      <wsdl:output message="tns:getAllTwitterFeedOfUsersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetTwitterFeedById">
      <wsdl:input message="tns:GetTwitterFeedByIdSoapIn" />
      <wsdl:output message="tns:GetTwitterFeedByIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getTwitterFeedByProfileId">
      <wsdl:input message="tns:getTwitterFeedByProfileIdSoapIn" />
      <wsdl:output message="tns:getTwitterFeedByProfileIdSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetAllTwitterFeedsByUserIdAndProfileId1ByKeyword">
      <wsdl:input message="tns:GetAllTwitterFeedsByUserIdAndProfileId1ByKeywordSoapIn" />
      <wsdl:output message="tns:GetAllTwitterFeedsByUserIdAndProfileId1ByKeywordSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TwitterFeedSoap" type="tns:TwitterFeedSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTwitterFeedsByUserIdAndProfileId">
      <soap:operation soapAction="http://tempuri.org/GetAllTwitterFeedsByUserIdAndProfileId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFeedsByUserIdAndProfileIdUsingLimit">
      <soap:operation soapAction="http://tempuri.org/getAllFeedsByUserIdAndProfileIdUsingLimit" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTwitterFeedsByUserIdAndProfileId1">
      <soap:operation soapAction="http://tempuri.org/GetAllTwitterFeedsByUserIdAndProfileId1" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterFeedOfUsers">
      <soap:operation soapAction="http://tempuri.org/getAllTwitterFeedOfUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTwitterFeedById">
      <soap:operation soapAction="http://tempuri.org/GetTwitterFeedById" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTwitterFeedByProfileId">
      <soap:operation soapAction="http://tempuri.org/getTwitterFeedByProfileId" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTwitterFeedsByUserIdAndProfileId1ByKeyword">
      <soap:operation soapAction="http://tempuri.org/GetAllTwitterFeedsByUserIdAndProfileId1ByKeyword" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TwitterFeedSoap12" type="tns:TwitterFeedSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTwitterFeedsByUserIdAndProfileId">
      <soap12:operation soapAction="http://tempuri.org/GetAllTwitterFeedsByUserIdAndProfileId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllFeedsByUserIdAndProfileIdUsingLimit">
      <soap12:operation soapAction="http://tempuri.org/getAllFeedsByUserIdAndProfileIdUsingLimit" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTwitterFeedsByUserIdAndProfileId1">
      <soap12:operation soapAction="http://tempuri.org/GetAllTwitterFeedsByUserIdAndProfileId1" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getAllTwitterFeedOfUsers">
      <soap12:operation soapAction="http://tempuri.org/getAllTwitterFeedOfUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetTwitterFeedById">
      <soap12:operation soapAction="http://tempuri.org/GetTwitterFeedById" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getTwitterFeedByProfileId">
      <soap12:operation soapAction="http://tempuri.org/getTwitterFeedByProfileId" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetAllTwitterFeedsByUserIdAndProfileId1ByKeyword">
      <soap12:operation soapAction="http://tempuri.org/GetAllTwitterFeedsByUserIdAndProfileId1ByKeyword" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TwitterFeed">
    <wsdl:port name="TwitterFeedSoap" binding="tns:TwitterFeedSoap">
      <soap:address location="http://localhost:2022/Services/TwitterFeed.asmx" />
    </wsdl:port>
    <wsdl:port name="TwitterFeedSoap12" binding="tns:TwitterFeedSoap12">
      <soap12:address location="http://localhost:2022/Services/TwitterFeed.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>